<h1>Pandas</h1>

<li>Integrated data manipulation and analysis capabilities
<li>Integration with data visualization libraries
<li>Integration with machine learning libraries
<li>Built in time-series capabilities (Pandas was originally designed for financial time series data)
<li>Optimized for speed
<li>Built-in support for grabbing data from multiple sources csv, xls, html tables, yahoo, google, worldbank, FRED
<li>Integrated data manipulation support (messy data, missing data, feature construction)
<li><b>End to end support for data manipulation, data visualization, data analysis, and presenting results</b>

<h2>Types of data in data analysis</h2>
<li><b>Categorical</b>  data with a fixed (finite) set of values and not necessarily ordered
<ul>
<li>gender, marital status, income level, semester grade etc.
<li>Pandas uses a <b>Categoricals</b> data type to represent this type of data
</ul>
<li><b>Continuous</b> Data that is drawn from an infinite set of ordered values and there are an infinite number of values between any two data elements
<ul>
<li>stock prices, sales revenue, dollar income, etc.
<li>Pandas uses the numpy <b>float</b> and <b>int</b> types to represent this type of data
</ul>
<li><b>Discrete</b> Data that is numerical but cannot be atomized further
<ul>
<li>Counts of categorical data
<li>Number of males, number of people in an income level, etc.
<li>Pandas uses the numpy <b>int</b> to represent this type of data
</ul>

<h3>Pandas organizes data into two data objects</h3>
<li>Series: A one dimensional array object
<li>DataFrame: A two dimensional table object
<ul>
<li>Each column in a dataframe corresponds to a named series

<li>Rows in a dataframe can be indexed by a column of any datatype
</ul>

In [ ]:
import pandas as pd
import numpy as np

<h1>Series</h1>

In [ ]:
x = pd.Series(np.random.randint(1000,size=1000))
x[:10]

In [ ]:
print(x.head())
print(x.tail())

<h3>Series are indexed</h3>
<li>Every series contains an index and the values of each index item
<li>Series items must be accessed through the index
<li>Iterators:  iterate on the index returning values

In [ ]:
x[0] #0 is the first location

In [ ]:
for i in x.index:
    print(x[i])

In [ ]:
#The i's in the following loop are values in x, not locations in x!
for i in x:
    print(x[i])

In [ ]:
for i in x:
    print(i)

<h3>Series and dict</h3>
<li> A dictionary will automatically be broken up into index and value pairs</li>
<li> In the following example, the index is ['a','b','c'] and the series contains [1,2,3]

In [ ]:
x = {'a':1,'b':2,'c':3}
y=pd.Series(x)
print(y['b'])

<h3>Series objects work like numpy ndarrays</h3>
<li>but with an independent index attached to the values of the array
<li>the index can be of any immutable data type

In [ ]:
nums = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
names = np.array(('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'))
months = pd.Series(nums,index=names)
months['Mar']
#months

<h4>The index attribute returns the index associated with a series<h4>
<li> The data type associated with the index is "pandas index"

In [ ]:
months.index

<h3>Accessing data by row number</h3>
<li>Series objects are considered to be "ordered"
<li>So we can also access objects by row number

In [ ]:
months[1]

<h4>And we can find the row number given an index value<p>
and then use that to access the data at that row</h4>

In [ ]:
row = months.index.get_loc('Mar')
months.iloc[row]

<h4>We can do numpy operations on a pandas series</h4>

<b>Scalar multiplication

In [ ]:
months*2

<b>addition

In [ ]:
x=pd.Series([1,3,5,7,11])
z = pd.Series([1,2,3,4,5])
x+z

<h4>provided the indexes match</h4>

In [ ]:
nums = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
names = np.array(('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'))
months = pd.Series(nums,index=names)
things = ['partridge','turtle dove','french hen','calling birds','golden rings','geese','swans','milking maids',
                'dancing ladies','leaping lords','piping pipers','drumming drummers' ]
days_of_xmas = pd.Series(nums,things)
months + days_of_xmas

<h3>Timeseries objects</h3>
<li>Timeseries data in pandas is represented by a series
<li>Indexed by time
<li>A series can be read directly from a csv file
<li>And then the str date converted into a Timestamp object

In [ ]:
gs_price_data = pd.read_csv("GS.csv",index_col="Date")

In [ ]:
gs_price_data.index[0]

In [ ]:
gs_price_data.index = pd.to_datetime(gs_price_data.index)

In [ ]:
gs_price_data.index[0]

<h3>Accessing data using a Timestamp index</h3>
<li>Key values passed to the Series must be of type Timestamp
<li>We need to convert str time into Timestamps
<li>pd.to_datetime will do this for us (we could also use the datetime library)
<li>index.get_loc gets the row number corresponding to the timestamp
<li>and, finally .iloc[row_number] returns the data

In [ ]:
dt = pd.to_datetime('2018-08-23')
row = gs_price_data.index.get_loc(dt)
gs_price_data.iloc[row]

<h4>get_loc can find the 'nearest' or next ('backfill') or use the most recent ('pad')

In [ ]:
dt = pd.to_datetime('2018-09-01')
row = gs_price_data.index.get_loc(dt,method="pad") #'nearest', 'pad', 'backfill'
gs_price_data.iloc[row]

<h4>Statistics on a series</h4>

In [ ]:
gs_price_data.mean()
#gs_price_data.std()
#gs_price_data.pct_change()

<h1>pandas DataFrame</h1>
<li>2-Dimensional structure
<li>Columns can contain data of different types (like an Excel spreadsheet)
<li>Can contain an index (or indices)
<li>Columns (and indeces) can be named

<h3>Constructing a dataframe</h3>

In [ ]:
df = pd.DataFrame([[11,22,13],[21,22,23]])
df

In [ ]:
df = pd.DataFrame([[11,22,13],[21,22,23]])
df.columns=['c1','c2','c3']
df.index = ['a','b']
df

In [ ]:
df = pd.DataFrame([[11,22,13],[21,22,23]],index=['a','b'],columns=['c1','c2','c3'])
df

In [ ]:
from datetime import date
date(2018,9,23)

In [ ]:
tickers = ['AAPL','GOOG','GS']
dates = ['20180924','20180925']
data = np.zeros((2,3))
df = pd.DataFrame(data,index=dates,columns=tickers)
df

In [ ]:
tickers = ['AAPL','GOOG','GS']
from datetime import date
dates = [date(2018,10,2),date(2018,10,3)]
data = np.zeros((2,3))
df = pd.DataFrame(data,index=dates,columns=tickers)
df

In [ ]:
data = {'AAPL':[0.0,0.0],'GOOG':[0.0,0.0],'GS':[0.0,0.0]}
df = pd.DataFrame(data)
df.index = [date(2018,10,2),date(2018,10,3)]
df

<h3>Using an existing column as an index</h3>
<li>By default, pandas will return a copy with the index added
<li>Use the inplace parameter to do modify the df itself

In [ ]:
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
print(df)
df.set_index('row_label',inplace=True)
print(df)
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
df.set_index('row_label',inplace=False)
print(df)

<h4>Pandas dataframes work like dictionaries</h4>
<li>Column names can be used to access a column as a series from a df

In [ ]:
data = {'AAPL':[217.2,218.7],'GOOG':[1166.2,1161.5],'GS':[235.3,231.1]}
df = pd.DataFrame(data)
df.index = [date(2018,9,21),date(2018,9,24)]

In [ ]:
df['AAPL']

In [ ]:
type(df['AAPL'])

<h4>Single columns (with no spaces in their names) can also be accessed using the attribute syntax

In [ ]:
df.AAPL

<h4>Chained indexing leads to a specific cell in the table</h4>

In [ ]:
df['AAPL'][date(year=2018,month=9,day=24)]

<h3>Selecting rows</h3>
<li>rows can be selected using the index df.loc[index_value]
<li>or using row number df.iloc[row_number]
<li>Note that both methods use dictionary like indexing!

In [ ]:
df.loc[date(2018,9,21)]

In [ ]:
df.iloc[0]

<h4>Accessing a specific value</h4>

In [ ]:
df['AAPL'].loc[date(2018,9,21)]
#df.loc[date(2018,9,21)]['AAPL']

<h4>Add a new column</h4>

In [ ]:
df['IONS'] = np.NaN
df

<h4>Selecting multiple columns</h4>
<li>Use a <b>list</b> containing the names of the desired rows

In [ ]:
df[['AAPL','GOOG']]

In [ ]:
df = pd.DataFrame([[11,22,13],[21,22,23]])
df.columns=['c1','c2','c3']
df.index = ['a','b']
df

<h4>Creating a new column using a pattern</h4>

In [ ]:
df['Mult3'] =np.where(df['c1']%3==0,1,0)
df

<h3>Slicing</h3>

In [ ]:
df = pd.DataFrame([[11,12,13,14,15],
                   [21,22,23,24,25],
                   [31,32,33,34,35],
                   [41,42,43,44,45],
                   [51,52,53,54,55]])
df.index =['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3','c4','c5']
df

In [ ]:
df.loc['r2':'r4']

In [ ]:
df.loc[:,'c2':'c4']

In [ ]:
df.loc['r2':'r4','c2':'c4']

In [ ]:
df.iloc[1:4,1:4]

<h3>Working with views and copies</h3>

In [ ]:
df = pd.DataFrame([[11,12,13,14,15],
                   [21,22,23,24,25],
                   [31,32,33,34,35],
                   [41,42,43,44,45],
                   [51,52,53,54,55]])
df.index =['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3','c4','c5']
df_new = df

<h4>df_new points to the same dataframe as df</h4>

In [ ]:
print(id(df),id(df_new))

<h4>Changes in df will result in a change in df_new</h4>

In [ ]:
df.loc['r3','c3'] = 99
df_new

<h4>To work with a copy, use .copy()</h4>

In [ ]:
df = pd.DataFrame([[11,12,13,14,15],
                   [21,22,23,24,25],
                   [31,32,33,34,35],
                   [41,42,43,44,45],
                   [51,52,53,54,55]])
df.index =['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3','c4','c5']
df_new = df.copy()
df.loc['r3','c3'] = 99
df_new

<h1>Grouping functionality in Pandas</h1>
<li>Pandas allows grouping by value as well as grouping by functions

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'D' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three']})
df

<h3>Group by column values</h3>

In [ ]:
df.groupby('B')

In [ ]:
df.groupby('B').size()

<h3>Group by multiple columns</h3>

In [ ]:
df.groupby(['A','C']).size()

<h3>Grouping by function</h3>

In [ ]:
import pandas as pd
import numpy as np
people = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'], index=['Joe', 'Moe', 'Jill', 'Qing', 'Ariana'])
people

<li>We want to choose a column and group elements in the column into two categories
<li>A cell value less than 0, will belong to the group "Negative"
<li>A cell with value greater or equal to 0, will belong to the group "Positive"

<li>We need to write a function that takes a dataframe, a column, and a row index as arguments
<li>The three arguments together will point to a single value
<li>And we can test the value to see which group it belongs to
<li>And return the group label

In [ ]:
def GroupColFunc(df, ind, col):
    if df[col].loc[ind] < 0:
        return 'Negative'
    else:
        return 'Positive'

<li>Finally, we'll pass the function to groupby
<li>Just like groupby used the values foo, bar etc. to group the data,
<li>It will use the values returned by the function to group the data

In [ ]:
grouped = people.groupby(lambda x: GroupColFunc(people, x, 'a'))
grouped
#print(grouped.size())

<h3>Group statistics</h3>

In [ ]:
grouped.mean()
#grouped.std()
#grouped.count()
#grouped.cumcount()

#%matplotlib inline
#grouped.mean().plot(kind='bar')

<h3>Digression: Lambda functions</h3>
<li>Anonymous or "throw-away" functions
<li>Useful for dataframe operations
<li>Useful for defining functions for simple operations

In [ ]:
foo = lambda x,y: x+y
foo(2,3)

<h4>Example: We can change the sort parameter using a function</h4>

In [ ]:
x=[(1,2),(4,5),(3,3),(9,1)]
def sort_key(x):
    return x[1]
sorted(x,key=sort_key)

<h3>Or we can "inline" the function</h3>
<li>Makes it more readable

In [ ]:
x=[(1,2),(4,5),(3,3),(4,1)]
sorted(x,key=lambda x: x[1])

In [ ]:
x=[(1,2),(4,5),(3,3),(4,1)]
sorted(x,key=lambda x: x[0] + x[1])

<h2>Join, merge and concatenate dataframes</h2>
<li>Pandas will try to do a "good" operation

In [ ]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
df1

In [ ]:
df2 = pd.DataFrame([[7,8,9],[10,11,12]],index=['c','d'],columns=['A','B','C'])
df2

In [ ]:
pd.concat([df1,df2])

<h3>Concat can handle column mismatches</h3>

In [ ]:
df2 = pd.DataFrame([[7,8,9],[10,11,12]],index=['c','d'],columns=['K','B','C'])
df2

In [ ]:
pd.concat([df1,df2])

<h4>Concat works with multiple data frames and creates copies. Append appends to an existing dataframe</h4>

In [ ]:
df1.append(df2)

<h3>Join</h3>
<li>Pandas provides a full featured join (like SQL)
<li>https://pandas.pydata.org/pandas-docs/stable/merging.html

In [ ]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],index=['a','b','c','d'],columns=['A','B','C'])
df1

In [ ]:
df2 = pd.DataFrame([[17,18,19],[101,111,121]],index=['c','d'],columns=['K','L','D'])
df2

In [ ]:
df1.join(df2)

<h1>Working with Pandas</h1>

In [ ]:
pd.__version__

In [ ]:
#installing pandas libraries
!source activate py36;pip install pandas --upgrade
#!source activate py36;pip install pandas-datareader --upgrade
#!pip install --upgrade html5lib==1.0b8

#There is a bug in the latest version of html5lib so install an earlier version
#Restart kernel after installing html5lib

<h2>Imports</h2>

In [ ]:
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support

<h2>Pandas datareader</h2>
<li>Access data from html tables on any web page</li>
<li>Get data from google finance</li>
<li>Get data from the federal reserve</li>
<li>Read csv files</li>

<h3>HTML Tables</h3>
<li>Pandas datareader can read a table in an html page into a dataframe
<li>the read_html function returns a list of all dataframes with one dataframe for each html table on the page

<h4>Example: Read tables from an html page</h4>

In [ ]:
import requests
df_list = pd.read_html('https://www.x-rates.com/table/?from=USD&amount=1')
#df_list = pd.read_html("https://eresearch.fidelity.com/eresearch/goto/markets_sectors/landing.jhtml",flavor="bs4")
print(len(df_list))

<h4>The page contains two tables</h4>

In [ ]:
df1 = df_list[0]
df2 = df_list[1]
print(df1)
print(df2)

<h4>Note that the read_html function has automatically detected the header columns</h4>
<h4>If an index is necessary, we need to explicitly specify it</h4>

In [ ]:
df1

In [ ]:
df1.set_index('US Dollar',inplace=True)
print(df1)

<h4>Now we can use .loc to extract specific currency rates</h4>

In [ ]:
df1.loc['Euro','1.00 USD']

<h2>Getting historical stock prices from yahoo finance</h2>
Usage: DataReader(ticker,source,startdate,enddate)<br>

In [ ]:
from pandas_datareader import data as web
import datetime
start=datetime.datetime(2000, 1, 1)
end=datetime.datetime.today()
print(start,end)

df = web.DataReader('IBM', 'yahoo', start, end)

In [ ]:
df

<h2>Datareader documentation</h2>
http://pandas-datareader.readthedocs.io/en/latest/</h2>

<h3>Working with a timeseries data frame</h3>
<li>The data is organized by time with the index serving as the timeline

<h4>Creating new columns</h4>
<li>Add a column to a dataframe
<li>Base the elements of the column on some combination of data in the existing columns
<h4>Example: Number of Days that the stock closed higher than it opened
<li>We'll create a new column with the header "UP"
<li>And use np.where to decide what to put in the column

In [ ]:
df['UP']=np.where(df['Close']>df['Open'],1,0)
df

<h3>Get summary statistics</h3>
<li>The "describe" function returns a dataframe containing summary stats for all numerical columns
<li>Columns containing non-numerical data are ignored

In [ ]:
df.describe()

<h4>Calculate the percentage of days that the stock has closed higher than its open</h4>

In [ ]:
df['UP'].sum()/df['UP'].count()

<h4>Calculate percent changes</h4>
<li>The function pct_change computes a percent change between successive rows (times in  timeseries data)
<li>Defaults to a single time delta
<li>With an argument, the time delta can be changed

In [ ]:
df['Close'].pct_change() #One timeperiod percent change

In [ ]:
n=13
df['Close'].pct_change(n) #n timeperiods percent change

<h3>NaN support</h3>
Pandas functions can ignore NaNs

In [ ]:
n=13
df['Close'].pct_change(n).mean()

<h3>Rolling windows</h3>
<li>"rolling" function extracts rolling windows
<li>For example, the 21 period rolling window of the 13 period percent change

In [ ]:
df['Close'].pct_change(n).rolling(21)

<h4>Calculate something on the rolling windows</h4>

<h4>Example: mean (the 21 day moving average of the 13 day percent change)

In [ ]:
n=13
df['Close'].pct_change(n).rolling(21).mean()

<h4>Calculate several moving averages and graph them</h4>

In [ ]:
ma_8 = df['Close'].pct_change(n).rolling(window=8).mean()
ma_13= df['Close'].pct_change(n).rolling(window=13).mean()
ma_21= df['Close'].pct_change(n).rolling(window=21).mean()
ma_34= df['Close'].pct_change(n).rolling(window=34).mean()
ma_55= df['Close'].pct_change(n).rolling(window=55).mean()

<h2>Plotting pandas series</h2>
<li>Pandas is tightly integrated with matplotlib, a graphing library
<li>All you need do is call 'plot' on any series
<li>When working on a jupyter notebook, add %matplotlib inline

In [ ]:
%matplotlib inline

In [ ]:
ma_8.plot()
ma_34.plot()

<h2>Linear regression with pandas</h2>
<h4>Example: TAN is the ticker for a solar ETF. FSLR,  and SPWR are tickers of companies that build or lease solar panels. Each has a different business model. We'll use pandas to study the risk reward tradeoff between the 3 investments and also see how correlated they are</h4>

In [ ]:
!source activate py36;pip install fix-yahoo-finance

In [ ]:
import datetime
import pandas_datareader.data as web
import yfinance as yf
start = datetime.datetime(2015,7,1)
end = datetime.datetime(2016,7,1)
solar_df = web.DataReader(['FSLR', 'TAN','SPWR'],'yahoo', start,end)['Close']

In [ ]:
solar_df

<h4>Let's calculate returns (the 1 day percent change)</h4>

In [ ]:
rets = solar_df.pct_change()
print(rets)

<h4>Let's visualize the relationship between each stock and the ETF</h4>

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.scatter(rets.FSLR,rets.TAN)

In [ ]:
plt.scatter(rets.SPWR,rets.TAN)

<h4>The correlation matrix</h4>

In [ ]:
solar_corr = rets.corr()
print(solar_corr)

<h3>Basic risk analysis</h3>
<h4>We'll plot the mean and std or returns for each ticker to get a sense of the risk return profile</h4>

In [ ]:
plt.scatter(rets.mean(), rets.std())
plt.xlabel('Expected returns')
plt.ylabel('Standard deviations')
for label, x, y in zip(rets.columns, rets.mean(), rets.std()):
    plt.annotate(
        label, 
        xy = (x, y), xytext = (20, -20),
        textcoords = 'offset points', ha = 'right', va = 'bottom',
        bbox = dict(boxstyle = 'round,pad=0.5', fc = 'yellow', alpha = 0.5),
        arrowprops = dict(arrowstyle = '->', connectionstyle = 'arc3,rad=0'))
plt.show()

<h2>Regressions</h2>
http://statsmodels.sourceforge.net/

<h3>Steps for regression</h3>
<li>Construct y (dependent variable series)
<li>Construct matrix (dataframe) of X (independent variable series)
<li>Add intercept
<li>Model the regression
<li>Get the results
<h3>The statsmodels library contains various regression packages. We'll use the OLS (Ordinary Least Squares) model

In [ ]:
import numpy as np
import statsmodels.api as sm
X=solar_df[['FSLR','SPWR']]
X = sm.add_constant(X)
y=solar_df['TAN']
model = sm.OLS(y,X,missing='drop')
result = model.fit()
print(result.summary())

<h4>Finally plot the fitted line with the actual y values

In [ ]:
fig, ax = plt.subplots(figsize=(8,6))
ax.plot(y)
ax.plot(result.fittedvalues)