In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['1', 'one', 'uno', 'une'],
                   'B' : ['2', 'two', 'duo', 'deux'],
                   'C' : ['3', 'three', 'tres', 'trois'],
                   'D' : ['4', 'four', 'quatro', 'quatre']})
header = ['Numeral','English','Spanish','French']

def is_group1(word):
    if len(word) <= 4 :
        return True
    return False

def is_group1_group(df,ind,col):
    try:
        if is_group1(df[col].loc[ind]):
            return 'Group 1'
    except:
        pass
    return 'Group 2'

grouped = df.groupby(lambda x: is_group1_group(df,x,'C'))

In [2]:
grouped

In [3]:
grouped.count()['A'].iloc[0]

2

In [4]:
grouped.count()

         A  B  C  D
Group 1  2  2  2  2
Group 2  2  2  2  2

In [5]:
grouped.count()['A']

Group 1    2
Group 2    2
Name: A, dtype: int64

In [6]:
len('four')

4