<h1>Data Preprocessing</h1>
<li>Steps that need to be done after the data arrives in the program
<li>Data may need to be cleaned
<ul>
<li>Remove "bad" data
<li>handle "missing" data 
</ul>
<li>Make sure all data is in the correct format(s)

<h2>NYC 311 Data</h2>
<li>Service requests made to the 311 number</li>
<li>https://data.cityofnewyork.us/dataset/311-Service-Requests-From-2011/fpz8-jqf4
<li>We'll work with a small extract of the data
<ul>
<li>8 columns (out of about 58 in the full dataset)
<li>two months of data (out of 7 years of data
</ul>
<li>Even this is quite a bit!

In [ ]:
datafile = "/Users/hardeepjohar/Documents/Courses/DataAnalyticsFall2017/DataVisualization/nyc_311_data_subset_small.csv"

In [ ]:
import pandas as pd
import numpy as np

<h4><b>read_csv</b>: A pandas function that reads a comma separated file</h4>
read_csv will try to format the data so that it is the correct type and will report any typing problems<br>
It will also look for a header row. 
<br>http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
<p>
read_csv returns a pandas DataFrame

In [ ]:
df = pd.read_csv(datafile)
df

<h4>Let's examine our data</h4>

In [ ]:
df.info()

<h4>Looks like Unique Key really is a unique key and can serve as an index</h4>

In [ ]:
df = pd.read_csv(datafile,index_col='Unique Key')

In [ ]:
df.iloc[:10]

<h4>Columns 4 has mixed types</h4>

<h4>Column 4 is incident zip</h4>
Let's examine it<br>
The unique() function returns unique values in a column

In [ ]:
df['Incident Zip'].unique()

<h4>Some issues</h4>
<li>Sometimes zip is a float, other times it is an str
<li>Zipcodes that are represented as floats and start with 0 are missing the first digit (8817)
<li>Some zipcodes have the 4 digit extension added. Comparison becomes tough
<li>What the heck is zip 0?
<li>What about the missing (nan) values? The ? (question mark)? "UNKNOWN"?

<h2>Clean the data</h2>
<li>Decide what to do with "bad" data ("JFK", "UNKNOWN", etc.). Convert to Nan or delete the record.
<li>Make sure all data in a column is in the correct format (convert floats to strings, get rid of the 4 digit extension)
<li>Decide what to do with missing values (NaNs)

<h3>for "Incident Zip"</h3>
<li>we'll drop rows with NaN or bad data
<li>get rid of the 4 digit extension
<li>remove zips less than 10000 and greater than 12000
<li>Let's write a function that fixes zips
<li>Convert everything to str because zips are not really numbers

In [18]:
def fix_zip(input_zip):
    try:
        input_zip = int(float(input_zip))
    except:
        try:
            input_zip = int(input_zip.split('-')[0])
        except:
            return np.NaN
    if input_zip < 10000 or input_zip > 12000:
        return np.NaN
    return str(input_zip)

<h4>And test it</h4>

In [20]:
fix_zip('10817.00')

'10817'

<h3>Apply the function to input zip</h3>
<li>The pandas function <span style="color:blue">apply</span> applies a function to each element in a df column

In [21]:
df['Incident Zip'] = df['Incident Zip'].apply(fix_zip)

In [22]:
df['Incident Zip'].unique()

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '11412', '10022', '11379', '11251', '11004', '11104',
       '10004', '11362', '11360', '11109', '11590', '11001', '11430',
       '11106', '10464', '11370', '10271', '11239', '11415', '10006',
       '10121', '10177', '11030', '10069', '10044', '10282', '10000',
       '11743', '10178', '10169', '11697', '10168', '10538', '10123',
       '11516', '10174', '10278', '11598', '10112', '10605', '10172',
       '11570', '11561', '11576', '10162', '10281', '10151', '11725',
       '10111', '11005', '11803', '11520', '10041', '10167', '10107',
       '10120', '10154', '10165', '11550', '11701', '10532', '10703',
       '11371', '10105', '11580', '10158', '11779', '11359', '10153',
       '10604', '10279', '11792', '11747', '10118', '11566', '11776',
       '10103', '10801', '11509', '10701', '10913', '11518', '11002',
       '10573', '10601', '11581', '11710', '10803', '11050', '10179',
       '11003', '10110', '11636', '10550', '10115', '10170', '10804',
       '11791', '11042', '11501', '11514', '11021', '11735', '10173',
       '10106', '10045', '11244', '11530', '10580', '11749', '10708',
       '10122', '10176', '10583', '10048', '11722', '10155', '11554',
       '11719', '11024', '11801', '11571', '11695', '11968', '11010',
       '10707', '11241', '11553', '11510', '11802', '11757', '11758',
       '11746', '11575', '11572', '10960', '10710', '10705', '11557',
       '10134', '10055', '10704', '11558', '11797', '11756', '11111',
       '10530', '11793', '10166', '10805', '11563', '11729', '11559',
       '11431', '11579', '10152', '10543', '11706', '10567', '10259',
       '11552', '10989', '10553', '10977', '10591', '11582', '10008',
       '11577', '11704', '11242', '10129', '11768'], dtype=object)

<h3>Drop all rows that have zip == Nan</h3>
<li>We don't have to, that's just a choice we're making</li>
<li>Alternatively, we could just give them a special code</li>
<li>Or vary the code depending on some other factor (Borough? department?)

In [23]:
df = df[df['Incident Zip'].notnull()]

In [ ]:
df

<h3>Let's take a look at the columns again</h3>

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 910874 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    910874 non-null object
Closed Date     829425 non-null object
Agency          910874 non-null object
Incident Zip    910874 non-null object
Borough         910874 non-null object
Latitude        887168 non-null float64
Longitude       887168 non-null float64
dtypes: float64(2), object(5)
memory usage: 55.6+ MB

<h3>Closed Date, Latitude and Longitude all have missing values</h3>
<h3>Let's get rid of them</h3>

In [25]:
df = df[(df['Latitude'].notnull()) & (df['Longitude'].notnull())  & (df['Closed Date'].notnull())]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806561 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    806561 non-null object
Closed Date     806561 non-null object
Agency          806561 non-null object
Incident Zip    806561 non-null object
Borough         806561 non-null object
Latitude        806561 non-null float64
Longitude       806561 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>Let's take a look at Borough data</h4>

In [27]:
df['Borough'].unique()

array(['MANHATTAN', 'QUEENS', 'BROOKLYN', 'BRONX', 'STATEN ISLAND',
       'Unspecified'], dtype=object)

<h4>Unspecified</h4>
<li>Could be a problem if our analysis focuses on boroughs

In [28]:
df[df['Borough']=='Unspecified'][['Agency','Incident Zip']]

           Agency Incident Zip
Unique Key
28854        NYPD        10312
29525        NYPD        11368
29559        NYPD        11422
29607        NYPD        10454
48565        NYPD        11209
48572        NYPD        11226
48657        NYPD        11225
48743        NYPD        11373
48781        NYPD        10467
48940         DPR        10454
49258        NYPD        11204
49264        NYPD        10039
49299        NYPD        11369
49471        NYPD        10454
49700        NYPD        11217
49919        NYPD        11367
50081        NYPD        11217
50542        NYPD        11234
50865        NYPD        10452
51202        NYPD        11364
72977        NYPD        10014
73118        NYPD        11385
73119        NYPD        10453
73181        NYPD        11101
73241        NYPD        11203
73286        NYPD        11432
73323        NYPD        11234
73433        NYPD        10461
73434        NYPD        11210
73499        NYPD        10314
...           ...          ...
188498       NYPD        10028
188500       NYPD        11217
188505       NYPD        10040
188506       NYPD        10029
188507       NYPD        10014
188521       NYPD        11208
188536        DHS        10023
188542        TLC        10023
188543        DHS        10023
188544        TLC        11230
188545        DHS        10017
188553        DHS        10024
188558        DHS        10016
188597       NYPD        11206
188599       NYPD        11373
188627       NYPD        11417
188628       NYPD        11418
188633       NYPD        10023
188634       NYPD        10472
188636       NYPD        11236
188639       NYPD        11366
188640       NYPD        10001
188642       NYPD        11237
188647       NYPD        10312
188648       NYPD        11223
188649       NYPD        11373
188650       NYPD        10468
188651       NYPD        11218
214971       NYPD        11233
235626       NYPD        11249

[819 rows x 2 columns]

<h3>Possible fixes</h3>
<li>Map zips to boroughs using external data
<li>Map zips to boroughs using data from the data frame
<li>Delve into the data to see whether unspecified makes sense

<h4>So we get to use our groupby function</h4>

In [29]:
df[df['Borough']=='Unspecified'].groupby('Agency').count()

        Created Date  Closed Date  Incident Zip  Borough  Latitude  Longitude
Agency
3-1-1              1            1             1        1         1          1
DHS               67           67            67       67        67         67
DOE                1            1             1        1         1          1
DOF                3            3             3        3         3          3
DOT               13           13            13       13        13         13
DPR                2            2             2        2         2          2
FDNY               1            1             1        1         1          1
NYPD             725          725           725      725       725        725
TLC                6            6             6        6         6          6

<li>Unspecified appears to have a systematic bias toward NYPD
<li>Though only a small proportion of NYPD complaints (see below)
<li>We have to decide whether to keep them or lose them!

In [30]:
nypd_complaints_total = df[df['Agency']=='NYPD']['Borough'].count()
nypd_unspecified = df[(df['Borough']=='Unspecified') & (df['Agency']=="NYPD")]['Borough'].count()
percentage = nypd_unspecified/nypd_complaints_total*100
print("%1.2f%%"%percentage)

0.26%

<h4>For now, we'll get rid of them. Unspecified will be hard to explain!</h4>

In [31]:
df = df[df['Borough'] != 'Unspecified']

<h2>Dealing with time</h2>
<li>Dates and times are best converted to datetime
<li>That way they will be useful for analysis because we can compute timedelta objects

<h2>Digression: The datetime library</h2>

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805742 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    805742 non-null object
Closed Date     805742 non-null object
Agency          805742 non-null object
Incident Zip    805742 non-null object
Borough         805742 non-null object
Latitude        805742 non-null float64
Longitude       805742 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>And we get to use lambda functions!</h4>

In [33]:
import datetime
df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [34]:
df['Created Date'][0:20]

Unique Key
11   2016-09-01 00:33:42
12   2016-09-01 20:16:24
13   2016-09-01 12:17:00
14   2016-09-01 12:10:22
15   2016-09-01 12:32:32
16   2016-09-01 20:16:24
17   2016-09-01 08:35:00
18   2016-09-01 13:19:42
19   2016-09-01 11:00:00
20   2016-09-01 11:45:00
21   2016-09-01 10:11:45
22   2016-09-01 08:22:53
23   2016-09-01 17:31:04
24   2016-09-01 08:50:41
25   2016-09-01 14:19:21
26   2016-09-01 12:46:35
27   2016-09-01 13:33:58
28   2016-09-01 13:51:10
30   2016-09-01 12:34:41
31   2016-09-01 07:03:00
Name: Created Date, dtype: datetime64[ns]

In [35]:
df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [ ]:
df

<h3>We can create a new column that tracks the time it takes to close a complaint</h3>

In [36]:
df['processing_time'] =  df['Closed Date'] - df['Created Date']

In [37]:
#And look at summary statistics
df['processing_time'].describe()

count                     805742
mean      5 days 00:05:11.538976
std      12 days 06:08:17.201098
min          -134 days +00:00:00
25%              0 days 02:34:46
50%       0 days 21:10:44.500000
75%       4 days 14:29:59.750000
max            148 days 13:10:54
Name: processing_time, dtype: object

In [38]:
df['Created Date'].min()

Timestamp('2016-09-01 00:00:00')

<h4>There is some odd stuff here</h4>
<li>Negative processing time?
<li>Since our data is for five months, a max of 148 days worth checking out

<h3>Let's examine the negative processing time data</h3>

In [39]:
df[df['processing_time']<datetime.timedelta(0,0,0)]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
3972,2016-09-16 14:24:00,2016-09-15 14:23:00,DOT,10314,STATEN ISLAND,40.597868,-74.140537,-2 days +23:59:00
5223,2016-09-20 14:03:00,2016-09-16 14:03:00,DOT,11220,BROOKLYN,40.630682,-74.010970,-4 days +00:00:00
6084,2016-10-20 11:24:00,2016-10-19 01:24:00,DOT,11412,QUEENS,40.696186,-73.751966,-2 days +14:00:00
6085,2016-10-20 16:40:00,2016-10-19 16:39:00,DOT,10306,STATEN ISLAND,40.580343,-74.103262,-2 days +23:59:00
6086,2016-10-20 12:19:00,2016-10-19 12:18:00,DOT,11209,BROOKLYN,40.634865,-74.026381,-2 days +23:59:00
6115,2016-10-20 12:05:00,2016-10-19 02:05:00,DOT,11208,BROOKLYN,40.681095,-73.873586,-2 days +14:00:00
6396,2016-10-24 10:37:00,2016-10-21 10:37:00,DOT,11691,QUEENS,40.608713,-73.747670,-3 days +00:00:00
6682,2016-10-31 10:26:00,2016-10-28 10:26:00,DOT,11417,QUEENS,40.676871,-73.840344,-3 days +00:00:00
6694,2016-10-31 10:46:00,2016-10-27 10:46:00,DOT,11362,QUEENS,40.765202,-73.738088,-4 days +00:00:00
6819,2016-09-20 11:49:00,2016-09-16 11:49:00,DOT,11432,QUEENS,40.703220,-73.802559,-4 days +00:00:00
6820,2016-09-20 14:16:00,2016-09-16 14:16:00,DOT,11238,BROOKLYN,40.680797,-73.958397,-4 days +00:00:00
6830,2016-09-20 14:34:00,2016-09-16 14:34:00,DOT,11201,BROOKLYN,40.692277,-73.988187,-4 days +00:00:00
6836,2016-09-20 14:04:00,2016-09-16 14:00:00,DOT,11220,BROOKLYN,40.649360,-74.012833,-5 days +23:56:00
6840,2016-09-20 12:00:00,2016-09-16 12:00:00,DOT,11434,QUEENS,40.660911,-73.769906,-4 days +00:00:00
6841,2016-09-20 11:48:00,2016-09-16 11:48:00,DOT,11432,QUEENS,40.703220,-73.802559,-4 days +00:00:00
6842,2016-09-20 11:43:00,2016-09-16 11:43:00,DOT,11416,QUEENS,40.685665,-73.852531,-4 days +00:00:00
6843,2016-09-20 14:23:00,2016-09-16 14:23:00,DOT,11221,BROOKLYN,40.695352,-73.916314,-4 days +00:00:00
6845,2016-09-20 11:48:00,2016-09-16 11:48:00,DOT,11432,QUEENS,40.704671,-73.805649,-4 days +00:00:00
6866,2016-09-20 14:03:00,2016-09-16 14:03:00,DOT,11219,BROOKLYN,40.635497,-74.001956,-4 days +00:00:00
6867,2016-09-20 11:59:00,2016-09-16 11:59:00,DOT,11433,QUEENS,40.696159,-73.786607,-4 days +00:00:00
6868,2016-09-20 11:54:00,2016-09-16 11:54:00,DOT,11374,QUEENS,40.728658,-73.863260,-4 days +00:00:00
6869,2016-09-20 12:53:00,2016-09-16 12:53:00,DOT,11224,BROOKLYN,40.576982,-73.981565,-4 days +00:00:00
6877,2016-09-20 14:51:00,2016-09-19 14:50:00,DOT,11225,BROOKLYN,40.663183,-73.962449,-2 days +23:59:00
6885,2016-09-20 12:00:00,2016-09-16 12:00:00,DOT,11412,QUEENS,40.707737,-73.763191,-4 days +00:00:00
6890,2016-09-20 11:49:00,2016-09-16 11:49:00,DOT,11432,QUEENS,40.705233,-73.803573,-4 days +00:00:00
6891,2016-09-20 11:41:00,2016-09-16 11:41:00,DOT,11105,QUEENS,40.773510,-73.899912,-4 days +00:00:00
6893,2016-09-20 12:50:00,2016-09-16 12:50:00,DOT,11212,BROOKLYN,40.668709,-73.917307,-4 days +00:00:00
6895,2016-09-20 14:32:00,2016-09-16 14:32:00,DOT,11217,BROOKLYN,40.681505,-73.974228,-4 days +00:00:00
6896,2016-09-20 12:54:00,2016-09-16 12:54:00,DOT,11214,BROOKLYN,40.588321,-73.985220,-4 days +00:00:00
6899,2016-09-20 12:31:00,2016-09-17 22:40:00,DOT,10469,BRONX,40.858725,-73.833436,-3 days +10:09:00
...,...,...,...,...,...,...,...,...
957010,2016-10-17 00:00:00,2016-09-12 00:00:00,DOHMH,10025,MANHATTAN,40.798563,-73.963405,-35 days +00:00:00
957015,2016-10-17 00:00:00,2016-09-13 00:00:00,DOHMH,10037,MANHATTAN,40.808726,-73.937893,-34 days +00:00:00
957080,2016-10-17 00:00:00,2016-10-11 00:00:00,DOHMH,10461,BRONX,40.847411,-73.849288,-6 days +00:00:00
957095,2016-10-17 00:00:00,2016-10-03 00:00:00,DOHMH,10026,MANHATTAN,40.804663,-73.951919,-14 days +00:00:00
957167,2016-10-17 00:00:00,2016-10-03 00:00:00,DOHMH,11385,QUEENS,40.706613,-73.868167,-14 days +00:00:00
957189,2016-10-17 00:00:00,2016-10-05 00:00:00,DOHMH,10027,MANHATTAN,40.808263,-73.956266,-12 days +00:00:00
958744,2016-09-19 16:54:00,2016-09-17 00:26:00,DOT,10303,STATEN ISLAND,40.631594,-74.160388,-3 days +07:32:00
958745,2016-09-19 12:18:00,2016-09-17 00:15:00,DOT,10465,BRONX,40.814894,-73.803528,-3 days +11:57:00
958746,2016-09-19 12:05:00,2016-09-16 22:52:00,DOT,10460,BRONX,40.834040,-73.895271,-3 days +10:47:00
958747,2016-09-19 16:53:00,2016-09-16 22:57:00,DOT,10306,STATEN ISLAND,40.583297,-74.099911,-3 days +06:04:00
958748,2016-09-19 11:52:00,2016-09-16 11:52:00,DOT,10474,BRONX,40.810851,-73.881858,-3 days +00:00:00
958752,2016-09-20 12:01:00,2016-09-16 12:01:00,DOT,11434,QUEENS,40.679960,-73.782481,-4 days +00:00:00
958753,2016-09-20 14:12:00,2016-09-16 14:12:00,DOT,11226,BROOKLYN,40.650388,-73.958708,-4 days +00:00:00
958758,2016-09-20 11:53:00,2016-09-16 11:53:00,DOT,11694,QUEENS,40.572042,-73.857548,-4 days +00:00:00
958759,2016-09-20 14:33:00,2016-09-16 14:33:00,DOT,11201,BROOKLYN,40.691194,-73.997768,-4 days +00:00:00
958760,2016-09-20 14:31:00,2016-09-16 14:31:00,DOT,11215,BROOKLYN,40.666159,-73.995307,-4 days +00:00:00
958804,2016-09-22 12:15:00,2016-09-21 12:14:00,DOT,11233,BROOKLYN,40.682427,-73.937931,-2 days +23:59:00
958858,2016-09-26 16:23:00,2016-09-23 23:00:00,DOT,10308,STATEN ISLAND,40.545127,-74.139858,-3 days +06:37:00
958859,2016-09-26 13:31:00,2016-09-23 21:20:00,DOT,10474,BRONX,40.809629,-73.890035,-3 days +07:49:00
958860,2016-09-26 12:39:00,2016-09-23 12:39:00,DOT,11232,BROOKLYN,40.653856,-74.008167,-3 days +00:00:00
958861,2016-09-26 12:28:00,2016-09-23 12:28:00,DOT,11211,BROOKLYN,40.705900,-73.963099,-3 days +00:00:00
965521,2016-09-13 12:32:00,2016-09-09 12:32:00,DOT,11691,QUEENS,40.600204,-73.745044,-4 days +00:00:00
965781,2016-09-13 11:51:00,2016-09-08 11:51:00,DOT,11416,QUEENS,40.689714,-73.840767,-5 days +00:00:00
965843,2016-09-13 12:03:00,2016-09-08 12:03:00,DOT,11691,QUEENS,40.595140,-73.753987,-5 days +00:00:00
967705,2016-09-15 16:52:00,2016-09-14 01:20:00,DOT,10309,STATEN ISLAND,40.521280,-74.239458,-2 days +08:28:00
968181,2016-09-15 13:59:00,2016-09-14 13:58:00,DOT,10473,BRONX,40.819163,-73.879813,-2 days +23:59:00
969890,2016-09-08 12:33:00,2016-09-06 12:33:00,DOT,11219,BROOKLYN,40.641815,-73.995813,-2 days +00:00:00
970636,2016-09-12 12:24:00,2016-09-09 22:28:00,DOT,10314,STATEN ISLAND,40.598331,-74.127146,-3 days +10:04:00
971003,2016-09-20 14:19:00,2016-09-16 14:19:00,DOT,11207,BROOKLYN,40.690455,-73.911748,-4 days +00:00:00
971051,2016-09-20 11:47:00,2016-09-16 11:47:00,DOT,11414,QUEENS,40.648070,-73.844823,-4 days +00:00:00

In [40]:
df[df['processing_time']<datetime.timedelta(0,0,0)].count()

Created Date       6419
Closed Date        6419
Agency             6419
Incident Zip       6419
Borough            6419
Latitude           6419
Longitude          6419
processing_time    6419
dtype: int64

<h4>Possibilities</h4>
<li>Data entry errors
<li>Created Date and Closed Date got switched

<h3>And the large processing times as well</h3>

In [41]:
df[df['processing_time']>datetime.timedelta(148,0,0)]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
155818,2016-09-01 10:49:06,2017-01-28 00:00:00,DOB,11691,QUEENS,40.597741,-73.775975,148 days 13:10:54
156523,2016-09-01 09:04:14,2017-01-27 14:12:22,DOT,11357,QUEENS,40.791344,-73.827361,148 days 05:08:08

In [42]:
df[df['processing_time']>datetime.timedelta(148,0,0)].count()

Created Date       2
Closed Date        2
Agency             2
Incident Zip       2
Borough            2
Latitude           2
Longitude          2
processing_time    2
dtype: int64

<li>Looks like the upper end makes sense but the negative times don't
<li>Though we need to explore this more, we'll get rid of negative times for now

In [43]:
df = df[df['processing_time']>=datetime.timedelta(0,0,0)]

<h2>Finally, let's write a function that incorporates all our changes</h2>

In [44]:
def read_311_data(datafile):
    import pandas as pd
    import numpy as np
    #Add the fix_zip function
    def fix_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0])
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 19999:
            return np.NaN
        return str(input_zip)
    
    #Read the file
    df = pd.read_csv(datafile,index_col='Unique Key')
    
    #fix the zip
    df['Incident Zip'] = df['Incident Zip'].apply(fix_zip)
    
    #drop all rows that have any nans in them (note the easier syntax!)
    
    df = df.dropna(how='any')
    
    #get rid of unspecified boroughs
    df = df[df['Borough'] != 'Unspecified']
    
    #Convert times to datetime and create a processing time column
    
    import datetime
    df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['processing_time'] =  df['Closed Date'] - df['Created Date']
    
    #Finally, get rid of negative processing times and return the final data frame
    
    df = df[df['processing_time']>=datetime.timedelta(0,0,0)]
    
    return df

In [45]:
df = read_311_data('nyc_311_data_subset_small.csv')
df.info()

/Users/hardeepjohar/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799323 entries, 11 to 971063
Data columns (total 8 columns):
Created Date       799323 non-null datetime64[ns]
Closed Date        799323 non-null datetime64[ns]
Agency             799323 non-null object
Incident Zip       799323 non-null object
Borough            799323 non-null object
Latitude           799323 non-null float64
Longitude          799323 non-null float64
processing_time    799323 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(3), timedelta64[ns](1)
memory usage: 54.9+ MB

<h1>Summary</h1>
<li>We read the data using read_csv
<li>Cleaned Incident Zip
<li>Converted Dates to datetime
<li>Created a new column containing processing times

<h3>The data is ready!</h3>