<h1>Variables and values</h1>
<h2>Basic data types</h2>
<li>int (<span style="color:blue">42</span>)</li>
<li>float (<span style="color:blue">42.0</span>)</li>
<li>str (<span style="color:blue">'42'</span> or <span style="color:blue">"42"</span>)</li>
<li>bool (<span style="color:blue">True</span> or <span style="color:blue">False</span>)</li>
<li>Nonetype (<span style="color:blue">None</span>)</li>

In [1]:
number_of_students = 47
print(type(number_of_students))

<class 'int'>

<h3>Variables</h3>
<ol>
<li>Python variables are untyped</li>
<li>Only values are typed</li>
<li>The type of the value pointed to by a variable can change</li>
<li>Names of variables</li>
<ul>
<li>Must start with a letter of the alphabet or _
<li>Can only contain digits (0..9), _ (underscore), letters (A..Za..z)
</ul>
</ol>

<h1>Operations with numbers</h1>

In [2]:
21 * 21 #Returns int

441

In [3]:
21 * 21.0 #Returns float

441.0

In [4]:
21/3 #Returns float (division always returns float)

7.0

In [5]:
21//3 #Returns int

7

In [6]:
21//3.0 #Returns float

7.0

In [7]:
21//3.2 #Returns float whose value is the lower integer bound of 21//3.2

6.0

In [8]:
21%4 #Returns int (the remainder of dividing 21 by 4)

1

In [9]:
21%4.4 #Returns float (21 - 21//4.4)

3.3999999999999986

In [10]:
21**4 #Returns int

194481

In [11]:
21**4.2 #Returns float

357537.0379611622

<h1>String operations</h1>

<h3>Indexing</h3>

In [12]:
x = "Always take a banana to a party!"

In [13]:
len(x) #Returns the length of the string (an integer)

32

In [14]:
x[3] #Returns the 4th (i+1)th character in x

'a'

In [15]:
x[-1] #Returns the last character in x

'!'

In [16]:
x[-2] #Returns the second last character in x

'y'

In [17]:
x[32] #IndexError. Out of range

IndexError: string index out of range

<h3>Slicing</h3>

In [18]:
x[7:11] #Returns the 8th to the 11th character (i.e., 11-7 characters)

'take'

In [19]:
x[7:] #Returns every character starting with location 7 (the 8th character) to the end of the string
#Omitting the endpoint defaults to the "rest of the string"

'take a banana to a party!'

In [20]:
x[0::2] #returns a substring starting from 0, going to the end (omitted), 2 characters at a time

'Awy aeabnn oapry'

In [21]:
x[::-1] #Start from whatever makes sense as the start, go to whatever makes sense as the end, go backward
# one character at a time
#Here it makes sense to start at the end and go all the way to the beginning (because of the -1)
#Returns a reversed string

'!ytrap a ot ananab a ekat syawlA'

<h3>Searching</h3>

In [22]:
x.find('to') #Returns the location of the first 'to' found

21

In [23]:
x.find('hello') #Returns -1. I.e., the substring was not found in x

-1

<h3>Immutability</h3>

In [24]:
x[3] = 'b' #TypeError. Can't change a string

TypeError: 'str' object does not support item assignment

In [25]:
x = "Hello"
y = x
print(id(x),id(y))
#x and y are the same string

4463522416 4463522416

In [26]:
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Same string though initialized independently

4463522416 4463522416

In [27]:
#But not guaranteed!
x="Always take a banana to a party!"
y="Always take a banana to a party!"

print(id(x),id(y))
#x and y now point to a different string though both have the same value

4462728464 4462728176

In [28]:
x == y

True

<h3>Concatenation</h3>

In [29]:
#The plus operator concatenates two strings to give rise to a third string
x="Hello"
y="Dolly"
z=x+y
print(x,y,z,id(x),id(y),id(z)) #x, y and z are all different strings

Hello Dolly HelloDolly 4463517296 4463517552 4463531568

<h1>booleans</h1>

In [2]:
x=4
y=2
z=(x==y) #False because x and y are not the same
z=(x==x) #True because x and y are the same
q=0

In [31]:
#Comparison is by value
x = "Hello"
y = "Hello"
print(id(x),id(y)) #Different strings

4463542960 4463542960

In [32]:
print(x == y) #But they have the same value

True

In [33]:
x=8
print(x,bool(x)) #Non-zero numbers, strings with values are always True

8 True

In [34]:
x='' #Empty string
print(x,bool(x)) #Empty strings, 0 numbers are always False

 False

In [8]:
a = -2
print(a, bool(a))

-2 True

<h3>Logical operators</h3>

In [35]:
x=4
y=5
print(x>2 and y>2) #True because both x and y are greater than 2

True

In [36]:
print(x>2 and y<2) #False because one is False

False

In [37]:
print(x<2 and y<2) #False because both are False

False

In [38]:
print(x>2 or y>2) #True because at least one is True

True

In [39]:
print(x<2 or y>2) #True because at least one is True

True

In [40]:
print(x<2 or y<2) #False because both are False

False

In [41]:
print(not(x>2 or y>2)) #False because x>2 or y>2 is True

False

In [42]:
print(x or y) #4 because x is True (non-zero) so no need to evaluate y. Value of x is returned

4

In [44]:
print(x and 0+3) #3 because x is non-zero but need to check the second operand as well. That evaluates to 3

3

In [49]:
w = 0
print(w or y)

5

<h1>Assignment</h1>

In [5]:
x = p + 10 #NameError! p is not defined

NameError: name 'p' is not defined

In [6]:
p = 7
x = p + 10 #This works

In [7]:
x,y = 3,4
print(x,y) #x is 3 and y is 4

3 4

In [8]:
x = 7
x += 4 
print(x) #x is 11 because x += 4 is equivalent to x = x+4

11